In [0]:
import pandas as pd
from tensorflow.keras.utils import get_file

try:
    path = get_file('kddcup.data_10_percent.gz', origin='http://kdd.ics.uci.edu/databases/kddcup99/kddcup.data_10_percent.gz')
except:
    print('Error downloading')
    raise
    
print(path) 

# This file is a CSV, just no CSV extension or headers
# Download from: http://kdd.ics.uci.edu/databases/kddcup99/kddcup99.html
df = pd.read_csv(path, header=None)


print("Read {} rows.".format(len(df)))
# df = df.sample(frac=0.1, replace=False) # Uncomment this line to sample only 10% of the dataset
df.dropna(inplace=True,axis=1) # For now, just drop NA's (rows with missing values)

Downloading data from http://kdd.ics.uci.edu/databases/kddcup99/kddcup.data_10_percent.gz
2146304/2144903 [==============================] - 0s 0us/step
/root/.keras/datasets/kddcup.data_10_percent.gz
Read 494021 rows.

In [0]:


# The CSV file has no column heads, so add them
df.columns = [
    'duration',
    'protocol_type',
    'service',
    'flag',
    'src_bytes',
    'dst_bytes',
    'land',
    'wrong_fragment',
    'urgent',
    'hot',
    'num_failed_logins',
    'logged_in',
    'num_compromised',
    'root_shell',
    'su_attempted',
    'num_root',
    'num_file_creations',
    'num_shells',
    'num_access_files',
    'num_outbound_cmds',
    'is_host_login',
    'is_guest_login',
    'count',
    'srv_count',
    'serror_rate',
    'srv_serror_rate',
    'rerror_rate',
    'srv_rerror_rate',
    'same_srv_rate',
    'diff_srv_rate',
    'srv_diff_host_rate',
    'dst_host_count',
    'dst_host_srv_count',
    'dst_host_same_srv_rate',
    'dst_host_diff_srv_rate',
    'dst_host_same_src_port_rate',
    'dst_host_srv_diff_host_rate',
    'dst_host_serror_rate',
    'dst_host_srv_serror_rate',
    'dst_host_rerror_rate',
    'dst_host_srv_rerror_rate',
    'outcome'
]

In [0]:
df.head()

   duration protocol_type  ... dst_host_srv_rerror_rate  outcome
0         0           tcp  ...                      0.0  normal.
1         0           tcp  ...                      0.0  normal.
2         0           tcp  ...                      0.0  normal.
3         0           tcp  ...                      0.0  normal.
4         0           tcp  ...                      0.0  normal.

[5 rows x 42 columns]

In [0]:
df['protocol_type'].unique()

array(['tcp', 'udp', 'icmp'], dtype=object)

In [0]:
# Encode a numeric column as zscores
def encode_numeric_zscore(df, name, mean=None, sd=None):
    if mean is None:
        mean = df[name].mean()

    if sd is None:
        sd = df[name].std()

    df[name] = (df[name] - mean) / sd
    
# Encode text values to dummy variables(i.e. [1,0,0],[0,1,0],[0,0,1] for red,green,blue)
def encode_text_dummy(df, name):
    dummies = pd.get_dummies(df[name])
    for x in dummies.columns:
        dummy_name = f"{name}-{x}"
        df[dummy_name] = dummies[x]
    df.drop(name, axis=1, inplace=True)

In [0]:
encode_numeric_zscore(df, 'duration')
encode_text_dummy(df, 'protocol_type')
encode_text_dummy(df, 'service')
encode_text_dummy(df, 'flag')
encode_numeric_zscore(df, 'src_bytes')
encode_numeric_zscore(df, 'dst_bytes')
encode_text_dummy(df, 'land')
encode_numeric_zscore(df, 'wrong_fragment')
encode_numeric_zscore(df, 'urgent')
encode_numeric_zscore(df, 'hot')
encode_numeric_zscore(df, 'num_failed_logins')
encode_text_dummy(df, 'logged_in')
encode_numeric_zscore(df, 'num_compromised')
encode_numeric_zscore(df, 'root_shell')
encode_numeric_zscore(df, 'su_attempted')
encode_numeric_zscore(df, 'num_root')
encode_numeric_zscore(df, 'num_file_creations')
encode_numeric_zscore(df, 'num_shells')
encode_numeric_zscore(df, 'num_access_files')
encode_numeric_zscore(df, 'num_outbound_cmds')
encode_text_dummy(df, 'is_host_login')
encode_text_dummy(df, 'is_guest_login')
encode_numeric_zscore(df, 'count')
encode_numeric_zscore(df, 'srv_count')
encode_numeric_zscore(df, 'serror_rate')
encode_numeric_zscore(df, 'srv_serror_rate')
encode_numeric_zscore(df, 'rerror_rate')
encode_numeric_zscore(df, 'srv_rerror_rate')
encode_numeric_zscore(df, 'same_srv_rate')
encode_numeric_zscore(df, 'diff_srv_rate')
encode_numeric_zscore(df, 'srv_diff_host_rate')
encode_numeric_zscore(df, 'dst_host_count')
encode_numeric_zscore(df, 'dst_host_srv_count')
encode_numeric_zscore(df, 'dst_host_same_srv_rate')
encode_numeric_zscore(df, 'dst_host_diff_srv_rate')
encode_numeric_zscore(df, 'dst_host_same_src_port_rate')
encode_numeric_zscore(df, 'dst_host_srv_diff_host_rate')
encode_numeric_zscore(df, 'dst_host_serror_rate')
encode_numeric_zscore(df, 'dst_host_srv_serror_rate')
encode_numeric_zscore(df, 'dst_host_rerror_rate')
encode_numeric_zscore(df, 'dst_host_srv_rerror_rate')

# display 5 rows

df.dropna(inplace=True,axis=1)
df[0:5]

   duration  src_bytes  ...  is_guest_login-0  is_guest_login-1
0 -0.067792  -0.002879  ...                 1                 0
1 -0.067792  -0.002820  ...                 1                 0
2 -0.067792  -0.002824  ...                 1                 0
3 -0.067792  -0.002840  ...                 1                 0
4 -0.067792  -0.002842  ...                 1                 0

[5 rows x 121 columns]

In [0]:
len(df)

494021

In [0]:
date_rng = pd.date_range(start='1/1/2018', periods=len(df),freq='S')
date_rng = date_rng[:len(df)]

In [0]:
df['Time']=date_rng
df.tail()

        duration  src_bytes  ...  is_guest_login-1                Time
494016 -0.067792  -0.002748  ...                 0 2018-01-06 17:13:36
494017 -0.067792  -0.002776  ...                 0 2018-01-06 17:13:37
494018 -0.067792  -0.002856  ...                 0 2018-01-06 17:13:38
494019 -0.067792  -0.002767  ...                 0 2018-01-06 17:13:39
494020 -0.067792  -0.002840  ...                 0 2018-01-06 17:13:40

[5 rows x 122 columns]

In [0]:
df['outcome'].dtypes

dtype('O')

In [0]:
df['outcome'].dtypes

dtype('O')

In [0]:
import numpy as np
k=pd.to_timedelta(np.arange(len(df)), unit='m')

In [0]:
#df['Timestamp']=k
#df.tail()

In [0]:
normal_mask = df['outcome']=='normal.'
attack_mask = df['outcome']!='normal.'

#df.drop('outcome',axis=1,inplace=True)

df_normal = df[normal_mask]
df_attack = df[attack_mask]

print(f"Normal count: {len(df_normal)}")
print(f"Attack count: {len(df_attack)}")

Normal count: 97278
Attack count: 396743

In [0]:
train_size = int(len(df_normal) * 0.85)
test_size = len(df_normal) - train_size
train_normal, test_normal = df_normal.iloc[0:train_size], df_normal.iloc[train_size:len(df_normal)]
print(train_normal.shape, test_normal.shape)

(82686, 122) (14592, 122)

In [0]:
x_train=train_normal.drop(['outcome','Time'],axis=1)
y_train=train_normal['outcome']
x_test=test_normal.drop(['outcome','Time'],axis=1)
y_test=test_normal['outcome']

In [0]:

y_train = y_train.replace('normal.', 0)
y_test = y_test.replace('normal.', 0)
y_test

454143    0
454144    0
454145    0
454146    0
454147    0
         ..
494016    0
494017    0
494018    0
494019    0
494020    0
Name: outcome, Length: 14592, dtype: int64

In [0]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
#x_train = scaler.fit_transform(x_train)
#x_test=scaler.fit_transform(x_test)

#train_scaled = scaler.transform(train_normal)
#test_scaled = scaler.transform(test_normal)

In [0]:
x_train.shape,x_test.shape

((82686, 120), (14592, 120))

In [0]:
y_test.shape,y_train.shape

((14592,), (82686,))

In [0]:
def create_dataset(X, y, time_steps=1):
    Xs, ys = [], []
    for i in range(len(X) - time_steps):
        v = X.iloc[i:(i + time_steps)].values
        #K = y.iloc[i:(i + time_steps)].values
        Xs.append(v)
        #ys.append(K)
        ys.append(y.iloc[i + time_steps])
    return np.array(Xs), np.array(ys)

In [0]:
TIME_STEPS = 30

# reshape to [samples, time_steps, n_features]

X_train, y_train = create_dataset(x_train,y_train, TIME_STEPS)
X_test, y_test = create_dataset(x_test, y_test, TIME_STEPS)

In [0]:
y_train.shape

(82656,)

In [0]:
from sklearn import metrics
import numpy as np
import pandas as pd
from IPython.display import display, HTML 
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation,LSTM
import keras
model = keras.Sequential()
model.add(keras.layers.LSTM(units=64,input_shape=(X_train.shape[1], X_train.shape[2])))
model.add(keras.layers.Dropout(rate=0.2))
model.add(keras.layers.RepeatVector(n=X_train.shape[1]))
model.add(keras.layers.LSTM(units=64, return_sequences=True))
model.add(keras.layers.Dropout(rate=0.2))
model.add(
  keras.layers.TimeDistributed(
    keras.layers.Dense(units=X_train.shape[2])
  )
)

model.compile(loss='mae', optimizer='adam')

Using TensorFlow backend.

In [0]:
history = model.fit(
    X_train, Y_train,
    epochs=10,
    batch_size=32,
    validation_split=0.1
)

ValueError: ignored