In [0]:
# Execute plot() inline without calling show()
%matplotlib inline
import warnings
warnings.simplefilter('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


df = pd.read_csv('phishing_dataset.csv')

Importing the phishing dataset

In [110]:
df

       -1  1  1.1  1.2  -1.1  -1.2  ...  -1.13  -1.14  1.11  1.12  -1.15  -1.16
0       1  1    1    1     1    -1  ...      0     -1     1     1      1     -1
1       1  0    1    1     1    -1  ...      1     -1     1     0     -1     -1
2       1  0    1    1     1    -1  ...      1     -1     1    -1      1     -1
3       1  0   -1    1     1    -1  ...      0     -1     1     1      1      1
4      -1  0   -1    1    -1    -1  ...      1     -1     1    -1     -1      1
...    .. ..  ...  ...   ...   ...  ...    ...    ...   ...   ...    ...    ...
11049   1 -1    1   -1     1     1  ...     -1     -1     1     1      1      1
11050  -1  1    1   -1    -1    -1  ...      1      1     1    -1      1     -1
11051   1 -1    1    1     1    -1  ...      1     -1     1     0      1     -1
11052  -1 -1    1    1     1    -1  ...      1     -1     1     1      1     -1
11053  -1 -1    1    1     1    -1  ...     -1     -1    -1     1     -1     -1

[11054 rows x 31 columns]

The target is the last column in the dataframe

In [0]:
y = df.iloc[:, -1].values

In [112]:
y.shape

(11054,)

In [113]:
y

array([-1, -1, -1, ..., -1, -1, -1])

Dropping the last column in the dataframe and considering it as input

In [0]:
x=df.drop(df.columns[-1],axis=1)

In [115]:
x.head()

   -1  1  1.1  1.2  -1.1  -1.2  ...  -1.12  -1.13  -1.14  1.11  1.12  -1.15
0   1  1    1    1     1    -1  ...     -1      0     -1     1     1      1
1   1  0    1    1     1    -1  ...     -1      1     -1     1     0     -1
2   1  0    1    1     1    -1  ...     -1      1     -1     1    -1      1
3   1  0   -1    1     1    -1  ...     -1      0     -1     1     1      1
4  -1  0   -1    1    -1    -1  ...      1      1     -1     1    -1     -1

[5 rows x 30 columns]

In [116]:
x.shape

(11054, 30)

Splitting the dataset in to 70% as train set and 30% as test set

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
         x, y, test_size=0.3, random_state=0)

Building a single perceptron model

In [118]:
from sklearn.linear_model import Perceptron

p = Perceptron(max_iter=100, eta0=0.1, random_state=100)
p.fit(X_train, y_train)

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=0.1,
           fit_intercept=True, max_iter=100, n_iter_no_change=5, n_jobs=None,
           penalty=None, random_state=100, shuffle=True, tol=0.001,
           validation_fraction=0.1, verbose=0, warm_start=False)

Predicting the values of test set

In [0]:
y_pred = p.predict(X_test)

Accuracy between the test data true values and the test data predicted values

In [120]:
from sklearn.metrics import accuracy_score

print('Misclassified samples: %d' % (y_test != y_pred).sum())
print('Accuracy: %.4f' % accuracy_score(y_test, y_pred))

Misclassified samples: 292
Accuracy: 0.9120